#  The following inhibits R CMD check from complaining about not
# being able to load the namespace based on the specified dependencies.
#import(methods)
importFrom("methods", "show", "is", "slot", "slotNames")
importFrom("base64enc","base64encode","base64decode")

import(httr)
import(XML)

export(xml.rpc)

export(rpc.serialize)

# rpc.serialize - convert to XML-RPC from R
# convertToR, xmlRPCToR - convert response from XML-RPC method call
# createBody - for creating the body of the XML-RPC request

